<link rel="stylesheet" href="/static/css/anime.css">
<div class="nav-main">
    <div id="nav-whole">
        <a href="/">

        </a>
        <a href="/p/Contact-Us" class="nav-link">Contact Us</a>
        <a href="/login" class="nav-link">Admin</a>
        <a href="/registration-form" class="nav-link">Admission</a>
        <a href="/p/about-us" class="nav-link">About Us</a>
        <a href="/" class="nav-link">Home</a>
    </div>
    <!-- onclick="navManu()" -->
    <img class="manu-nav animate__animated animate__bounceInLeft " onclick="manuFunction()" src="./static/assets/logos/icom-manu.png" alt="manu">
    <div class="manu animate__animated" id="manu">
        <a href="/" class="media-mobile">Home</a>
        <hr>
        <a href="/p/about-us" class="media-mobile">About Us</a>
        <hr>
        <a href="/registration-form" class="media-mobile">Admission</a>
        <hr>
        <a href="/p/Contact-Us" class="media-mobile">Contact Us</a>
        <hr>
        <a href="/p/Faculties" class="media-mobile">Faculties</a>
        <hr>
        <a href="/p/Fees-Structure" class="media-mobile">Fee Structure</a>
        <hr>
        <a href="/p/Rules-Regulations" class="media-mobile">Rules &amp; Regulations</a>
    </div>
</div>
