
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

    <div style="height: 70px; background-color: rgb(255, 255, 255);"></div>
    <div class="frsify-footer">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="mns">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="/p/about-us.htm">About Us</a></li>
                            <li><a href="/p/registration-form.html">Online Admission</a></li>
                            <li><a href="/p/Faculties.htm">Faculties</a></li>
                            <li> <a href="/p/Fees-Structure.htm">Fee Structure</a></li>
                            <li> <a href="/p/Rules-Regulations.htm">Rules & Regulations</a></li>
                            <li><a href="/p/Contact.htm">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="mns">
                        <h3>About</h3>
                        <ul>
                            <li><a href="https://kalongkapilividyapith.com/our staf/">Teaching Staf</a></li>
                            <li><a href="https://kalongkapilividyapith.com/our staf/index.html#non-teaching">Non-teaching Staff</a></li>
                            <li>
                                <a href="https://kalongkapilividyapith.com/gallery">Gallery</a>
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col item social">
                        <a href="#">
                            <i class="icon ion-social-facebook"></i></a>
                        <a href="#">
                            <i class="icon ion-social-youtube"></i></a>
                        <a href="#">
                            <i class="icon ion-social-instagram"></i></a>
                    </div>
                </div>
            </div>
        </footer>


    </div>
    <style>
        .last-cpy {
            height: 50px;
            margin: 0%;
            background-color: #200202;
            position: relative;
            bottom: -1px;
            padding-top: 13px;
            color: azure;
            text-align: center;
            /* position: relative; */
            /* top: -17px; */
        }
        
        .last-cpy * {
            font-family: 'Fuggles', cursive;
            font-family: 'Indie Flower', cursive;
            font-size: 16px;
            margin: 0px;
        }
        
        .last-cpy a {
            text-decoration: none;
            color: rgb(214, 236, 12);
            margin: 0px;
        }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fuggles&family=Indie+Flower&display=swap" rel="stylesheet">

    <div class="last-cpy">
        <p>Designed and Managed By: <a href="http://fresify.com"> Fresify</a> &nbsp;|<a href="http;//fresify.com/">
                Contact Us</a></p>
    </div>
