<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/styleforlast-glan.css">
    <title>kalongkapilividyapith</title>
</head>

<body>
    <div id="main-body">
        <div id="body">
            <%- include('./partials/header.ejs') %>
                <!-- ==================logo & name  -->
                <div id="lgcname-div">
                    <div id="lgcname" style="background-color: white;"> <strong>
                            <a href="/"> <img style="border-radius: 100px;" src="./static/assets/img/clg.jpeg"
                                    alt="college-logo">
                            </a></strong>
                        <div class="clg-logo-text"><strong><a href="/">
                                    <p id="clg-nm" class="lgtx">Kalong Kapili Vidyapith</p>
                                    <hr id="hr">
                                    <p id="clg-nma" class="lgtx">কলং কপিলী বিদ্যাপীঠ</p>
                                </a>
                            </strong>
                        </div>
                    </div>
                </div>


                <!-- =======hs and scl  -->
                <div id="clg-nav">

                    <div class="section">
                        <a href="/#scr">
                            <h2>Higher Secondary Section </h2>
                            <p>
                                <strong> Arts,&nbsp;Science&nbsp;and&nbsp;Commerce
                                    (English &amp; Assamese Medium)</strong><br> ADP Road, Christianpatty,
                                Nagaon(Assam)<br><br>
                            </p>
                            <p class="click-clm1">Click Here</p>
                        </a>
                    </div>



                    <div class="section">
                        <a href="https://school.kalongkapilividyapith.in/">
                            <h2> School Section </h2>
                            <p>
                                <strong>
                                    Class I to X (English &amp; Assamese Medium)
                                </strong><br>G.M Road, (Back side of Nowgong College)
                            </p>
                            <p class="click-clm2">Click Here</p>
                        </a>
                    </div>
                </div>
        </div>


        <br> <br> <br><br>
        <div id="scr"></div>
        <div class="scroll">
            <div class="slideshow-container">
                <div class="mySlides fade" style="display: none;">
                    <div class="numbertext"></div>
                    <img class="scrolling" src="./static/assets/slider-img/college.jpeg">
                    <div class="text"></div>
                </div>
                <div class="mySlides fade" style="display: block;">
                    <div class="numbertext"></div>
                    <img class="scrolling" src="./static/assets/slider-img/slider-2.jpeg">
                    <div class="text"></div>
                </div>
                <div class="mySlides fade" style="display: none;">
                    <div class="numbertext"></div>
                    <img class="scrolling" src="./static/assets/slider-img/slider-3.jpeg">
                    <div class="text"></div>
                </div>
                <div class="mySlides fade" style="display: none;">
                    <div class="numbertext"></div>
                    <img class="scrolling" src="./static/assets/slider-img/slider-4.jpeg">
                    <div class="text"></div>
                </div>
                <div class="mySlides fade" style="display: none;">
                    <div class="numbertext"></div>
                    <img class="scrolling" src="./static/assets/slider-img/slider-5.jpeg">
                    <div class="text"></div>
                </div>
                <div class="mySlides fade" style="display: none;">
                    <div class="numbertext"></div>
                    <img class="scrolling" src="./static/assets/slider-img/slider-6.jpeg">
                    <div class="text"></div>
                </div>
                <div class="mySlides fade" style="display: none;">
                    <div class="numbertext"></div>
                    <img class="scrolling" src="./static/assets/slider-img/slider-7.jpeg">
                    <div class="text"></div>
                </div>
                <div class="mySlides fade" style="display: none;">
                    <div class="numbertext"></div>
                    <img class="scrolling" src="./static/assets/slider-img/slider-8.jpeg">
                    <div class="text"></div>
                </div>
                <div class="mySlides fade" style="display: none;">
                    <div class="numbertext"></div>
                    <img class="scrolling" src="./static/assets/slider-img/slider-9.jpeg">
                    <div class="text"></div>
                </div>
                <div class="mySlides fade" style="display: none;">
                    <div class="numbertext"></div>
                    <img class="scrolling" src="./static/assets/slider-img/slider-10.jpeg">
                    <div class="text"></div>
                </div>
                <div class="mySlides fade" style="display: none;">
                    <div class="numbertext"></div>
                    <img class="scrolling" src="./static/assets/slider-img/slider-11.jpeg">
                    <div class="text"></div>
                </div>
                <div class="mySlides fade" style="display: none;">
                    <div class="numbertext"></div>
                    <img class="scrolling" src="./static/assets/slider-img/slider-12.jpeg">
                    <div class="text"></div>
                </div>

            </div>
            <br>
            <div id="m" style="text-align:center">
                <span class="dot1"></span>
                <span class="dot1 active"></span>
                <span class="dot1"></span>
                <span class="dot1"></span>
                <span class="dot1"></span>
                <span class="dot1"></span>
                <span class="dot1"></span>
                <span class="dot1"></span>
                <span class="dot1"></span>
                <span class="dot1"></span>
                <span class="dot1"></span>
                <span class="dot1"></span>
            </div>
        </div>
        <img src="./static/assets/img/saved_resource" alt="">
        <div id="about">
            <div>
                <h2 style="display: inline-block;margin: 0%;">ABOUT</h2>
                <h2 style="color: rgb(224, 95, 20);margin: 0%; display: inline-block;text-align: justify;">
                    &nbsp;KALONG&nbsp;</h2>
                <h2 style="color: rgb(224, 95, 20);margin: 0%; display: inline-block;text-align: justify;">KAPILI&nbsp;
                </h2>
                <h2 style="color: rgb(224, 95, 20);margin: 0%; display: inline-block;text-align: justify;">VIDYAPITH
                </h2>
            </div>
            <p>
                <img src="/" alt=""> Kalong kapili Vidyapith is located in the heart of Nagaon town. KKV has two
                sections : One is school section and the other is higher secondary section.The school section (Class I
                to X) is located at GM Road, behind Nowgong College and the higher secondary section (Arts, Science and
                Commerce stream) is situated at A.D.P. Road, Christian Patty , Nagaon
                .We are consistently producing outstanding result...
            </p>
            <a href="/p/about-us"> <button>Read more</button></a>
        </div>
        <br>
        <br>



        <!--=========================  after about list  ======================== -->


        <div id="about-prin">
            <h2 style="display:inline-block;">PRINCIPAL'S
            </h2>
            <h2 style="color:rgb(224, 95, 20);display:inline-block;"> &nbsp; DESK
            </h2>
            <br>
            <div class="lft">
                <br><img style="border: 2px solid rgb(255, 94, 0); border-radius: 13px;"
                    src="./static/assets/img/principal.jpeg" alt="">
                <br>
                <h3>Sri Manabendra Nag</h3>
            </div>
            <div class="lft2">
                <p>I am extremely delighted to welcome you to Kalong Kapili Vidyapith , the college with an excellent
                    academic reputation since its inception .The college established in the year 2004, is symbolically
                    named as Kalong Kapili Vidyapith , after
                    the two important rivers Kalong and Kapili flowing through the heart of undivided Nagaon District .
                </p>
                <a href="/p/about-principal"> <button>Read more</button></a>
            </div>
        </div>
        <br>
        <br>

        <div id="about-prin">
            <h2 style="display: inline-block;">RECTOR'S
            </h2>
            <h2 style="color:rgb(224, 95, 20);display:inline-block;">&nbsp;CORNER</h2>
            <br>
            <div class="lft">
                <img style="margin: auto; border: 2px solid rgb(255, 94, 0); border-radius: 13px;"
                    src="./static/assets/img/rector.jpg" alt="">
                <br>
                <h3>Sri Bidhan Boruah</h3>
            </div>
            <div class="lft2">
                <p style=" text-align: justify;">
                    I extend to you all a very warm welcome to our college Website. We have tried to create an online
                    resource that provides all relevant information about Kalong Kapili Vidyapith and hope that as you
                    pursue through the contents of this website, you will
                    get a sense of the rich flavour of life at our college.
                </p>
                <a href="/p/rector"> <button>Read more</button></a>
            </div>
        </div>
        <br><br>
        <div id="about-prin">
            <h2 style="display: inline-block;">VICE&nbsp;PRINCIPAL'S
            </h2>
            <h2 style="color:rgb(224, 95, 20);display:inline-block;margin-top: 0px;">&nbsp;MESSAGE</h2>
            <br>
            <div class="lft">
                <img style="margin: auto; border: 2px solid rgb(255, 94, 0); border-radius: 13px;"
                    src="./static/assets/img/Shekhar-Jyoti-Saikia-Vice-Principal.jpg" alt="">
                <br>
                <h3>Sri Shekhar Jyoti Saikia</h3>
            </div>
            <div class="lft2">
                <p style=" text-align: justify;">
                    Dear Students, Parents, Well-Wishers and Visitors, It is with great pleasure that I welcome you to
                    our college website. This website has been developed to enable everyone to become familiar with KKV,
                    its policies and other procedures.
                </p>
                <a href="/p/aboutvp"> <button>Read more</button></a>
            </div>
        </div>

        <br>
        <br>
        <!-- ============ -->
        <div style="margin: auto;width: 235px;">
            <h1 style="display: inline-block;">Subject</h1>
            <h1 style="display: inline-block; color: rgb(224, 95, 20);"> Offered</h1>
        </div>

        <div id="stream-icon">
            <div onclick="arts() " id="arts">
                <h4>Arts</h4>
                <img src="./static/assets/img/arts.png" alt="">
                <p>[Subject Offered]</p>
            </div>
            <div onclick="science() " id="science">
                <h4>Science</h4>
                <img src="./static/assets/img/science.png" alt="">
                <p>[Subject Offered]</p>
            </div>
            <div onclick="commerce() " id="commerce">
                <h4>Commerce</h4>
                <img src="./static/assets/img/commerce.png" alt="">
                <p>[Subject Offered]</p>
            </div>

        </div>
        <!-- ======================= -->
        <div id="notic">
            <h2>Notice</h2>
            <p></p>
            <h3 style="text-align:center;">ADMISSION GOING ON FOR CLASS I TO X&nbsp;&nbsp;&nbsp;(ASSAMESE &amp; ENGLISH
                MEDIUM)</h3>
            <p></p>
        </div>





        <a href="/registration-form.php">
            <button class="button1"><strong>Apply For Admission</strong></button>
        </a>

        <!-- <a class="school" href="">To School</a> -->




        <div id="last-icon">
            <a href="/our%20staf/">
                <div>
                    <img src="./static/assets/img/feculties.png" alt="">
                    <p class="p1">Faculties</p>
                </div>
            </a>
            <a href="/p/Fees-Structure">
                <div>
                    <img src="./static/assets/img/fees.png" alt="">
                    <p class="p1">Fees Structure</p>
                </div>
            </a>
            <a href="/p/Rules-Regulations">
                <div>
                    <img src="./static/assets/img/rulesrr.png" alt="">
                    <p class="p1">Rules &amp; Regulations</p>
                </div>
            </a>
            <a href="/p/Facilities">
                <div>
                    <img src="./static/assets/img/facilities.png" alt="">
                    <p class="p1">Facilities</p>
                </div>
            </a>
        </div>
        <br>
    </div>
    <!-- ===============================
 -->




    <style>
        .png-image {
            background-color: #ffffff;
            /* overflow-x: hidden; */
            overflow-y: scroll;
            text-align: center;
            height: 408px;
            padding: 20px;
            font-size: 16px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .png-image::-webkit-scrollbar {
            width: 7px;
        }

        .png-image::-webkit-scrollbar-thumb {
            background: rgb(0, 0, 0);
        }
    </style>



    <link rel="stylesheet" href="./static/assets/img/styleforlast-glan.css">

    <div id="last-glan">
        <div class="last-glan-child">
            <a href="/news">
                <h2 style="display: inline-block; color: black;">News &amp;</h2>
                <h2 style="display: inline-block; color: rgb(218,66,45);">Events</h2>
                <div class="png-image" style="padding: 20px;"><strong>

                        <p>ADMISSION GOING ON FOR CLASS I TO X </p>
                        <hr>
                        <p>(ASSAMESE &amp; ENGLISH MEDIUM)</p>
                        <hr>
                        <p></p>
                        <hr>
                        <p></p>
                        <hr>
                        <p></p>
                        <hr>
                        <p></p>
                        <hr>
                        <p></p>
                        <hr>
                        <p></p>
                        <hr>
                        <p></p>
                        <hr>
                        <p></p>
                        <hr>
                        <p></p>
                        <hr>
                        <p></p>
                        <hr>
                        <p></p>
                        <hr>
                        <p></p>
                        <hr>
                        <p></p>
                        <hr>
                        <p></p>
                        <hr>

                    </strong>
                </div>
            </a>
        </div>


        <div class="last-glan-child">
            <a href="/gallery">
                <h2 style="display: inline-block; color: black;">Photo</h2>
                <h2 style="display: inline-block; color: rgb(218,66,45);">Gallery</h2>
                <p style="display:inline-block;font-size:14px;float:right;">Click here</p>
                <div class="scroll1">
                    <div class="slideshow-container1">
                        <div class="mySlides1 fade1" style="display: none;">
                            <img class="scrolling1" src="./static/assets/img/500142000148_94238.jpg">
                            <div class="text"></div>
                        </div>
                        <div class="mySlides1 fade1" style="display: block;">
                            <img class="scrolling1" src="./static/assets/img/500080400293_387837.jpg">
                            <div class="text"></div>
                        </div>
                        <div class="mySlides1 fade1" style="display: none;">
                            <img class="scrolling1" src="./static/assets/img/500080300129_375374.jpg">
                            <div class="text"></div>
                        </div>
                    </div>
                    <br>
                    <div id="m" style="text-align:center">
                        <span class="dot2"></span>
                        <span class="dot2 active"></span>
                        <span class="dot2"></span>
                        <span class="dot2"></span>
                        <span class="dot2"></span>
                        <span class="dot2"></span>
                        <span class="dot2"></span>

                    </div>

                </div>
                <div id="sub-img" style="width: 100%;">
                    <img src="./static/assets/img/500080300129_375374.jpg" alt="">
                    <img src="./static/assets/img/500142000148_94238.jpg" alt="">
                    <img src="./static/assets/img/500080400293_387837.jpg" alt="">
                </div>

            </a>
        </div>
    </div>

    <script src="./static/assets/img/styleforlast-glan.js"></script>














    <script>
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot1");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {
                slideIndex = 1
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 4000); // Change image every 5 seconds
        }
    </script>
    <footer>
        <div>




            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="./static/assets/img/ionicons.min.css">
            <script src="./static/assets/img/bootstrap.bundle.min.js"></script>


            <style>
                body {
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }

                .frsify-footer {
                    margin-top: 0px;
                    padding: 50px 0;
                    color: #ffffff;
                    background-color: #200202;
                }

                .frsify-footer h3 {
                    margin-top: 0;
                    margin-bottom: 12px;
                    font-weight: bold;
                    font-size: 16px;
                }

                .frsify-footer ul {
                    padding: 0;
                    list-style: none;
                    line-height: 1.6;
                    font-size: 14px;
                    margin-bottom: 0;
                }

                .mns a:hover {
                    background-color: rgb(235, 68, 68);
                    padding: 5px;
                    border-radius: 5px;
                    transition-property: all;
                    transition-duration: .3s;
                    transition-timing-function: ease-out;
                }

                .frsify-footer ul a {
                    color: inherit;
                    text-decoration: none;
                    opacity: 1;
                }

                .frsify-footer ul a:hover {
                    opacity: 1;
                }

                @media (max-width:767px) {
                    .frsify-footer .item:not(.social) {
                        text-align: center;
                        padding-bottom: 20px;
                    }
                }

                .frsify-footer .item.text {
                    margin-bottom: 36px;
                }

                @media (max-width:767px) {
                    .frsify-footer .item.text {
                        margin-bottom: 0;
                    }
                }

                .frsify-footer .item.text p {
                    opacity: 1;
                    margin-bottom: 0;
                }

                .frsify-footer .item.social {
                    text-align: center;
                }

                @media (max-width:991px) {
                    .frsify-footer .item.social {
                        text-align: center;
                        margin-top: 20px;
                    }
                }

                .frsify-footer .item.social>a {
                    font-size: 20px;
                    width: 36px;
                    height: 36px;
                    line-height: 36px;
                    display: inline-block;
                    text-align: center;
                    border-radius: 50%;
                    background-color: #fff;
                    box-shadow: 0 0 0 1px rgba(214, 59, 59, 0.993);
                    margin: 0 8px;
                    color: rgb(170, 15, 15) !important;
                    opacity: 1;
                }

                .row {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                }

                @media screen and (min-width:800px) {
                    .row {
                        width: 1000px;
                        margin: auto;
                    }
                }

                @media screen and (max-width:500px) {
                    .mns {
                        width: 300px;
                    }
                }

                footer {
                    margin: 0px;
                }
            </style>


            <div style="height: 70px; background-color: rgb(255, 255, 255);"></div>

            <div class="frsify-footer">
                <footer>
                    <%- include('./partials/footer.ejs') %>
                </footer>

            </div>
            <style>
                .modal {
                    display: none;
                    position: fixed;
                    z-index: 1;
                    padding-top: 100px;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    overflow: auto;
                    background-color: rgb(0, 0, 0);
                    background-color: rgba(0, 0, 0, 0.4);
                }

                .modal-content {
                    position: relative;
                    background-color: #fefefe;
                    margin: auto;
                    padding: 0;
                    border: 1px solid #888;
                    width: 80%;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    -webkit-animation-name: animatetop;
                    -webkit-animation-duration: 0.4s;
                    animation-name: animatetop;
                    animation-duration: 0.4s;
                    border-radius: 13px;
                }

                @-webkit-keyframes animatetop {
                    from {
                        top: -300px;
                        opacity: 0
                    }

                    to {
                        top: 0;
                        opacity: 1
                    }
                }

                @keyframes animatetop {
                    from {
                        top: -300px;
                        opacity: 0
                    }

                    to {
                        top: 0;
                        opacity: 1
                    }
                }

                /* The Close Button */

                .close {
                    color: rgba(255, 255, 255, 0);
                    float: right;
                    font-size: 28px;
                    font-weight: bold;
                }

                .close:hover,
                .close:focus {
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }

                .modal-header {
                    padding: 2px 16px;
                    background-color: #ff5100;
                    color: white;
                }

                .modal-body {
                    padding: 2px 16px;
                }

                .modal-footer {
                    padding: 2px 16px;
                    background-color: #fc5000;
                    color: white;
                }
            </style>
            <div id="artsh" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">×</span>
                        <h2>Arts</h2>
                    </div>
                    <div class="modal-body">
                        <p value="Economics">English</p>
                        <p value="Economics">M.I.L(Assamese, Bengali, Hindi)/Alternative English</p>
                        <p value="Economics">Economics</p>
                        <p value="Political Science">Political Science</p>
                        <p value="Education">Education</p>
                        <p value="Logic &amp; Philosophy">Logic &amp; Philosophy</p>
                        <p value="Sociology">Sociology</p>
                        <p value="Geography">Geography</p>
                        <p value="Advance Assamese / Advance Hindi">Advance Assamese / Advance Hindi</p>
                        <p value="Mathematics">Mathematics</p>
                        <p value="Sanskrit">Sanskrit</p>
                        <p value="Swadesh  Adhyayan">Swadesh Adhyayan</p>
                        <p value="Bihu">Bihu</p>
                        <p value="Computer science">Computer science</p>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
            <script>
                function arts() {
                    var modal = document.getElementById("artsh");
                    var span = document.getElementsByClassName("close")[0];

                    modal.style.display = "block";
                    span.onclick = function () {
                        modal.style.display = "none";
                    }
                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                }
            </script>
            <div id="scienceh" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">×</span>
                        <h2>Science</h2>
                    </div>
                    <div class="modal-body">
                        <p value="Economics">English</p>
                        <p value="Economics">M.I.L(Assamese, Bengali, Hindi)/Alternative English</p>
                        <p> Physics</p>
                        <p>Chemistry</p>
                        <p>Mathematics</p>
                        <p>Biology</p>
                        <p> Statistics</p>
                        <p> Geography and Economics</p>
                        <p> Computer Science</p>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
            <script>
                function science() {
                    var modal = document.getElementById("scienceh");
                    var span = document.getElementsByClassName("close")[0];
                    modal.style.display = "block";
                    span.onclick = function () {
                        modal.style.display = "none";
                    }
                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                }
            </script>
            <div id="commerceh" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">×</span>
                        <h2>Commerce</h2>
                    </div>
                    <div class="modal-body">
                        <p value="Economics">English</p>
                        <p value="Economics">M.I.L(Assamese, Bengali, Hindi)/Alternative English</p>
                        <p value="Accountancy">Accountancy</p>
                        <p value=" Business Mathematics and statistics">Business Mathematics and Statistics </p>
                        <p value="Business Studies">Business Studies</p>
                        <p value="Economics">Economics</p>
                        <p value="Finance">Finance(Banking)</p>
                        <p> Computer Science</p>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
            <script>
                function commerce() {
                    var modal = document.getElementById("commerceh");
                    var span = document.getElementsByClassName("close")[0];
                    modal.style.display = "block";
                    span.onclick = function () {
                        modal.style.display = "none";
                    }
                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                }
            </script>
            <!-- </div>
    <div id="deskmob" style="position: absolute;top: 30%;text-align: center; color: rgb(51, 51, 51); width: 96%;">

        <h1> Site is not available for desktop version on mobile ,<br> So Use in mobile version or open this site in a Desktop.
        </h1>

    </div> -->


</body>

</html>