<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="import@node.js.img/css.png" type="image/x-icon">
    <script src="/import@node-js.js"></script>
    <script src="/import@node-js2.js"></script>

</head>
<style>
    body {
        margin: 0px;

    }

    .profile {
        margin: auto;
        margin-top: 20px;
        border-radius: 13px;
        width: 70%;
        border: 1px solid rgb(151, 149, 149);
        box-shadow: 1px 1px 15px rgb(90, 89, 89);
    }

    .profile img {
        width: 150px;
        height: 150px;
        padding: 30px;
        border-radius: 80px;
        display: inline-block;
    }

    .profile div {
        display: inline-block;
    }

    .profile div * {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    @media screen and (max-width:500px) {
        .profile {
            margin: auto;
            margin-top: 20px;
            border-radius: 13px;
            width: 90%;
            border: 1px solid rgb(151, 149, 149);
            box-shadow: 1px 1px 15px rgb(90, 89, 89);
            background-color: rgb(211, 197, 197);
        }

        .profile img {
            width: 130px;
            height: 130px;
            padding: 10px;
            border-radius: 80px;
            display: inline-block;
        }

        .profile h2 {
            margin: 0px;
        }

        .profile div {
            padding: 20px;
        }

        .profile div * {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    }
</style>

<body>

    <header>
        <div w3-include-html="/header.html">
        </div>
        <script>
            includeHTML();
        </script>

    </header>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/WhatsApp-Image-2021-07-08-at-1.24.54-PM.jpeg">
        <div>
            <h2>Sri Manabendra Nag</h2><br>
            <h3>Principal</h3>
            <h3>Subject: Logic & Philosophy</h3>
            <p>Graduated from : M.A. </p>
        </div>
    </div>
    <div class="profile">
        <img src="/import@node.js.img/rector.jpg">
        <div>
            <h2>Sri Bidhan Baruah</h2><br>
            <h3>Rector</h3>
            <p>Graduated from : GU , M.Sc.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Ujjal-Sarmah-Academic-Officer-scaled.jpg">
        <div>
            <h2>Sri Ujjal Sarma</h2><br>
            <h3>Academic Officer</h3>
            <h3>Subject: Assamese</h3>
            <p>Education Qualification: M.A.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Shekhar-Jyoti-Saikia-Vice-Principal.jpg">
        <div>
            <h2>Sri Shekhar jyoyi Saikia</h2><br>
            <h3>Vice Principal</h3>
            <h3>Subject: English and Alt. English</h3>
            <p>Education Qualification : M.A.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Jolly-Bora-English-scaled.jpg">
        <div>
            <h2>Joly Bora</h2><br>
            <h3>Subject: English</h3>
            <p>Education Qualification: GU, M.A.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Mamu-Rajkhowa-English.jpg">
        <div>
            <h2>Mamu Rajkhowa</h2><br>
            <h3>Subject: English</h3>
            <p>Education Qualification: M.A. , B.Ed.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Shagufta-Khan-English.jpg">
        <div>
            <h2>Name: Shagufta Khan</h2><br>
            <h3>Subject: English</h3>
            <p>Eduction Qualification: M.A.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Priti-Rani-Borah-Assamese.jpg">
        <div>
            <h2>Name:Priti Rani Borah</h2><br>
            <h3>Subject: Assamese</h3>
            <p>Eduction Qualification: M.A. , B.Ed.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Binita-Kakoti-Assamese-scaled.jpg">
        <div>
            <h2>Name: Binita Kakoti</h2><br>
            <h3>Subject: Assamese</h3>
            <p>Education Qualification: M.A.</p>
        </div>
    </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Madhabi-Baruah-Assamese.jpg">
        <div>
            <h2>Name: Madhabi Baruah</h2><br>
            <h3>Subject: Assamese</h3>
            <p>Eduction Qualification: M.A. , B.Ed.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Krishnamoni-Borah-Assamese-scaled.jpg">
        <div>
            <h2>Name: Krishnamoni Borah</h2><br>
            <h3>Subject: Assamese </h3>
            <p>Eduction Qualification: M.A. </p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Payel-Ganguly-Bengali-scaled.jpg">
        <div>
            <h2>Name:payel Ganguly</h2><br>
            <h3>Subject: Bengali</h3>
            <p>Eduction Qualification: M.A.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Debika-Das-Education.jpg">
        <div>
            <h2>Name: Debika Das</h2><br>
            <h3>Subject: Education</h3>
            <p>Eduction Qualification: M.A. </p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Diptimoni-Mahanta-Political-Science.jpg">
        <div>
            <h2>Name: Diptimoni Mahanta</h2><br>
            <h3>Subject: Political Science</h3>
            <p>Eduction Qualification: m.A. , B.Ed.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Habiba-Mubarak-Education.jpg">
        <div>
            <h2>Name: Habiba Mubarak</h2><br>
            <h3>Subject: Education</h3>
            <p>Eduction Qualification: M.A.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Hirumoni-Sarma-Political-Science-scaled.jpg">
        <div>
            <h2>Name: Hirumoni Sarma</h2><br>
            <h3>Subject: Political Science</h3>
            <p>Eduction Qualification: M.A.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/IMG_20210710_163248.jpg">
        <div>
            <h2>Name: Bhaskar Saikia</h2><br>
            <h3>Subject: Business Studies</h3>
            <p>Eduction Qualification: M.Com.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Jusmita-Bora-Geography-scaled.jpg">
        <div>
            <h2>Name: Jusmita Bora</h2><br>
            <h3>Subject: Geography</h3>
            <p>Eduction Qualification: M.A. , B.Ed.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Juthika-Rani-Sarma-Logic-Philosophy.jpg">
        <div>
            <h2>Name: Juthika Rani Sarma</h2><br>
            <h3>Subject: Logic and Philosophy </h3>
            <p>Eduction Qualification: M.A. , B.Ed.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Jyotishmita-Bora-Economics.jpg">
        <div>
            <h2>Name: Jyotismita Bora</h2><br>
            <h3>Subject: Economics</h3>
            <p>Eduction Qualification: M.A.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Kankana-Goswami-Sociology.jpg">
        <div>
            <h2>Name: Kankana Goswami</h2><br>
            <h3>Subject: Sociology</h3>
            <p>Eduction Qualification: M.A.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Lipika-Saikia-Sociology.jpg">
        <div>
            <h2>Name: Lipika Saikia</h2><br>
            <h3>Subject: Sociology</h3>
            <p>Eduction Qualification: M.A.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Loni-Barua-Education-scaled.jpg">
        <div>
            <h2>Name: Loni Baruah</h2><br>
            <h3>Subject: Education</h3>
            <p>Eduction Qualification: M.A. , B.Ed.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Monalisa-Saikia-Political-Science.jpg">
        <div>
            <h2>Name:Monalisa Saikia</h2><br>
            <h3>Subject: Political Science</h3>
            <p>Eduction Qualification: M.A.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Munmi-Barua-Geography.jpg">
        <div>
            <h2>Name:Munmi Barua</h2><br>
            <h3>Subject: Geography</h3>
            <p>Eduction Qualification: M.A. ,B.Ed.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Nabajyoti-Saikia-Economics.jpg">
        <div>
            <h2>Name: Nabajyoti Saikia</h2><br>
            <h3>Subject: Economics</h3>
            <p>Eduction Qualification: M.A. , B.Ed. </p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Namami-Sharma-Economics.jpg">
        <div>
            <h2>Name: Namami Sharma</h2><br>
            <h3>Subject: Economics</h3>
            <p>Eduction Qualification: M.A.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Namrata-Sharma-Banking-scaled.jpg">
        <div>
            <h2>Name: Narmata Sharma</h2><br>
            <h3>Subject: Banking</h3>
            <p>Eduction Qualification: M.Com.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Priyanka-Das-Accountancy-scaled.jpg">
        <div>
            <h2>Name: Priyanka Das</h2><br>
            <h3>Subject: Accountancy</h3>
            <p>Eduction Qualification: M.Com.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Queen-Bora-Hindi.jpg">
        <div>
            <h2>Name:Queen Bora</h2><br>
            <h3>Subject: Hindi</h3>
            <p>Eduction Qualification: M.A.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Ritumoni-Gayan-Geography.jpg">
        <div>
            <h2>Name: Ritumoni Gayan</h2><br>
            <h3>Subject: Geography</h3>
            <p>Eduction Qualification: M.A.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Rukshar-Shehnaz-Fardeen-Accountancy-scaled.jpg">
        <div>
            <h2>Name: Rukshar Shehnaz Faardeen</h2><br>
            <h3>Subject: Accountancy</h3>
            <p>Eduction Qualification: M.Com.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Shrutima-Baishya-Chemistry.jpg">
        <div>
            <h2>Name:Shrutima Baishya</h2><br>
            <h3>Subject: Chemistry</h3>
            <p>Eduction Qualification: M.Sc.</p>
        </div>
    </div>
    <div class="profile">
        <img src="https://fresify.com/wp-content/uploads/2021/07/Ashim-Kalita-BMST.jpg">
        <div>
            <h2>Name: Ashim Kalita</h2><br>
            <h3>Subject: Mathematics, Maths. Business & Statics</h3>
            <p>Eduction Qualification: M.Sc.</p>
        </div>
    </div>
    <div class="profile">
        <img src="">
        <div>
            <h2>Name: </h2><br>
            <h3>Subject: </h3>
            <p>Eduction Qualification:</p>
        </div>
    </div>
    <div class="profile">
        <img src="">
        <div>
            <h2>Name: </h2><br>
            <h3>Subject: </h3>
            <p>Eduction Qualification:</p>
        </div>
    </div>
    <di id="non-teaching">
        <div class="profile">
            <img src="">
            <div>
                <h2>Name: </h2><br>
                <h3>Subject: </h3>
                <p>Eduction Qualification:</p>
            </div>
        </div>
        <div class="profile">
            <img src="">
            <div>
                <h2>Name: </h2><br>
                <h3>Subject: </h3>
                <p>Eduction Qualification:</p>
            </div>
        </div>
        <div class="profile">
            <img src="">
            <div>
                <h2>Name: </h2><br>
                <h3>Subject: </h3>
                <p>Eduction Qualification:</p>
            </div>
        </div>
        <div class="profile">
            <img src="">
            <div>
                <h2>Name: </h2><br>
                <h3>Subject: </h3>
                <p>Eduction Qualification:</p>
            </div>
        </div>
        <div class="profile">
            <img src="">
            <div>
                <h2>Name: </h2><br>
                <h3>Subject: </h3>
                <p>Eduction Qualification:</p>
            </div>
        </div>
        <div class="profile">
            <img src="">
            <div>
                <h2>Name: </h2><br>
                <h3>Subject: </h3>
                <p>Eduction Qualification:</p>
            </div>
        </div>
        <div class="profile">
            <img src="">
            <div>
                <h2>Name: </h2><br>
                <h3>Subject: </h3>
                <p>Eduction Qualification:</p>
            </div>
        </div>
        <div class="profile">
            <img src="">
            <div>
                <h2>Name: </h2><br>
                <h3>Subject: </h3>
                <p>Eduction Qualification:</p>
            </div>
        </div>
        <div class="profile">
            <img src="">
            <div>
                <h2>Name: </h2><br>
                <h3>Subject: </h3>
                <p>Eduction Qualification:</p>
            </div>
        </div>
        <div class="profile">
            <img src="">
            <div>
                <h2>Name: </h2><br>
                <h3>Subject: </h3>
                <p>Eduction Qualification:</p>
            </div>
        </div>
        <div class="profile">
            <img src="">
            <div>
                <h2>Name: </h2><br>
                <h3>Subject: </h3>
                <p>Eduction Qualification:</p>
            </div>
        </div>
        <div class="profile">
            <img src="">
            <div>
                <h2>Name: </h2><br>
                <h3>Subject: </h3>
                <p>Eduction Qualification:</p>
            </div>
        </div>
        <div class="profile">
            <img src="">
            <div>
                <h2>Name: </h2><br>
                <h3>Subject: </h3>
                <p>Eduction Qualification:</p>
            </div>
        </div>
        </div>
        <footer>

            <div w3-include-html="/footer.html">
            </div>
            <script>
                includeHTML();
            </script>


        </footer>
</body>

</html>