<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/reg-form.css">

</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <style>
        #succ {
            display: none;
            margin: auto;
            width: 75%;
            height: 250px;
            background-color: rgb(29, 206, 212);
            color: #fff;
        }
    </style>

    <div style="display: none;" id="succ">
        <h1>successfully Submited</h1>
    </div>




    <div id="mainbiz" style="margin: 0%;">
        <h2 id="title">STUDENT REGISTRATION FORM</h2>
        <form style="margin-left: 10px;" action="" method="POST" enctype="multipart/form-data">
            <div class="form-box">
                <h4>First Name:</h4>
                <input type="text" name="fname" id="name" placeholder="First Name" required>
            </div>
            <div class="form-box">
                <h4>Last Name:</h4>
                <input type="text" name="lname" placeholder="Last Name" required>
            </div>
            <div class="form-box">
                <h4>Date of Birth:</h4>
                <input type="date" name="dob" placeholder="12/12/2001" required>
            </div>
            <div class="form-box">
                <h4>Email ID:</h4>
                <input type="email" id="email" name="email" required placeholder="abc@gmail.com">
            </div>
            <div class="form-box">
                <h4>Mobile No:</h4>
                <input type="text" name="mnumber" required placeholder="12345-67890">
            </div>
            <div class="form-box">
                <h4> Gender:</h4>
                <div style="margin: auto;width: 280px;">
                    <input type="radio" name="gender" value="male" class="m" required>
                    <p class="p1">MALE</p>
                    </input>
                    <input type="radio" name="gender" value="female" class="m" required>
                    <p class="p1">FEMALE</p>
                </div>
                </input>
            </div>
            <div class="form-box">
                <h4>Medium:</h4>
                <input name="medium" required type="text">
            </div>
            <div class="form-box">
                <h4>Caste:</h4>
                <input name="caste" required type="text">
            </div>
            <div class="form-box">
                <h4>Religion</h4>
                <select required name="religion">
                    <option value="Hinduism">Select</option>
                    <option value="Hinduism">Hinduism</option>
                    <option value="Buddhism">Buddhism</option>
                    <option value="Islam">Islam</option>
                    <option value="Christianity">Christianity</option>


                </select>
            </div>
            <hr>
            <h2>
                <u>Address</u>
            </h2>
            <div class="form-box">
                <h4>City/District</h4>
                <input type="text" name="city" placeholder="City/area/district name" required>
            </div>
            <div class="form-box">
                <h4>Pin No:</h4>
                <input type="text" name="pin" placeholder="780000" required>
            </div>
            <div class="form-box">
                <h4>State:</h4>
                <select name="state" required>
                    <option value="">Select</option>
                    <option value="Assam">Assam</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <hr>
                    <option value="Tripura">Tripura</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Manipur">Manipur</option>
                </select>
            </div>
            <div class="form-box">
                <h4>Country:</h4>
                <input type="text" name="Country" value="India" readonly="readonly">
            </div>
            <div class="form-box">
                <h4>
                    Residential Address:
                </h4>
                <input id="textarea" name="resaddress" required />

            </div>
            <!-- ========================= -->
            <h2><u>QUALIFICATION OF PRE TEST </u>:</h2>
            <div class="form-box" style="width:45% ; height:150px;margin: 10px;">
                <div id="stli">
                    <h4> Examination</h4>
                    <strong><input type="text" value="Class X" readonly></strong>
                </div>
                <div>
                    <h4>Board</h4>
                    <input type="text" name="qualification" required>
                </div>
            </div>
            <div class="form-box" style="width:45% ; height:150px;margin: 10px;">

                <div>
                    <div>
                        <h4>Percentage</h4>
                        <input type="text" required name="Percentage">
                    </div>
                    <div>
                        <h4> >Year of Passing</h4>
                        <input type="text" required name="yopass">
                    </div>
                </div>
            </div>
            <!-- ======== course ============ -->
            <h3>Course Applied for: </h3>
            <div style="background-color: #fff; padding: 10px; width: 96%; border-radius: 15px;">
                <h4>Stream:</h4>
                <input type="radio" required class="m" name="stream" value="Arts">
                <p class="p1">Arts</p>
                <input type="radio" required class="m" name="stream" value="Science">
                <p class="p1">Science</p>
                <input type="radio" required class="m" name="stream" value="Commerce">
                <p class="p1">Commerce</p>
                <hr>
                <input class="m" type="radio" value="english" name="sub" checked>
                <p class="p1">English</p>
                <input class="m" type="radio" value="mil" name=sub>
                <p class="p1">MIL(Assamese, Bengali , Hindi) / Alternative English</p>
                <br>
                <div id="select-subject" class="subcl">
                    <h4>You Select :</h4>
                    <div class="select-list">
                        <select name="subj1">Subjec1
                            <option value="">Select</option>
                            <option value="Economics">Economics</option>
                            <option value="Political Science">Political Science</option>
                            <option value="Education">Education</option>
                            <option value="Logic & Philosophy">Logic & Philosophy</option>
                            <option value="Sociology">Sociology</option>
                            <option value="Geography">Geography</option>
                            <option value="Advance Assamese / Advance Hindi">Advance Assamese / Advance Hindi</option>
                            <option value="Mathematics">Mathematics</option>
                            <option value="Sanskrit">Sanskrit</option>
                            <option value="Swadesh  Adhyayan">Swadesh Adhyayan</option>
                            <option value="Bihu">Bihu</option>
                            <option value="Computer science">Computer science</option>
                            <option disabled></option>
                            <option disabled>>Science :---------</option>
                            <option value="Physics">Physics</option>
                            <option value="Chemistry">Chemistry</option>
                            <option value="Mathematics">Mathematics</option>
                            <option value="Biology ">Biology</option>
                            <option value=" Statistics"> Statistics</option>
                            <option value=" Geography and Economics"> Geography and Economics</option>
                            <option value="  Computer Science"> Computer Science</option>
                            <option disabled></option>
                            <option disabled>>Commerce :---------</option>
                            <option value="Accountancy">Accountancy</option>
                            <option value=" Business Mathematics and statistics">Business Mathematics and statistics
                            </option>
                            <option value="Business Studies">Business Studies</option>
                            <option value="Economics">Economics</option>
                            <option value="Finance">Finance</option>
                        </select>


                        <select name="subj2">Subjec2
                            <option value="">Select</option>
                            <option value="Economics">Economics</option>
                            <option value="Political Science">Political Science</option>
                            <option value="Education">Education</option>
                            <option value="Logic & Philosophy">Logic & Philosophy</option>
                            <option value="Sociology">Sociology</option>
                            <option value="Geography">Geography</option>
                            <option value="Advance Assamese / Advance Hindi">Advance Assamese / Advance Hindi</option>
                            <option value="Mathematics">Mathematics</option>
                            <option value="Sanskrit">Sanskrit</option>
                            <option value="Swadesh  Adhyayan">Swadesh Adhyayan</option>
                            <option value="Bihu">Bihu</option>
                            <option value="Computer science">Computer science</option>
                            <option disabled></option>
                            <option disabled>>Science :---------</option>
                            <option value="Physics">Physics</option>
                            <option value="Chemistry">Chemistry</option>
                            <option value="Mathematics">Mathematics</option>
                            <option value="Biology ">Biology</option>
                            <option value=" Statistics"> Statistics</option>
                            <option value=" Geography and Economics"> Geography and Economics</option>
                            <option value="  Computer Science"> Computer Science</option>
                            <option disabled></option>
                            <option disabled>>Commerce :---------</option>
                            <option value="Accountancy">Accountancy</option>
                            <option value=" Business Mathematics and statistics">Business Mathematics and statistics
                            </option>
                            <option value="Business Studies">Business Studies</option>
                            <option value="Economics">Economics</option>
                            <option value="Finance">Finance</option>
                        </select>
                    </div>
                    <div class="select-list">
                        <select name="subj3">Subjec3
                            <option value="">Select</option>
                            <option value="Economics">Economics</option>
                            <option value="Political Science">Political Science</option>
                            <option value="Education">Education</option>
                            <option value="Logic & Philosophy">Logic & Philosophy</option>
                            <option value="Sociology">Sociology</option>
                            <option value="Geography">Geography</option>
                            <option value="Advance Assamese / Advance Hindi">Advance Assamese / Advance Hindi</option>
                            <option value="Mathematics">Mathematics</option>
                            <option value="Sanskrit">Sanskrit</option>
                            <option value="Swadesh  Adhyayan">Swadesh Adhyayan</option>
                            <option value="Bihu">Bihu</option>
                            <option value="Computer science">Computer science</option>
                            <option disabled></option>
                            <option disabled>>Science :---------</option>
                            <option value="Physics">Physics</option>
                            <option value="Chemistry">Chemistry</option>
                            <option value="Mathematics">Mathematics</option>
                            <option value="Biology ">Biology</option>
                            <option value=" Statistics"> Statistics</option>
                            <option value=" Geography and Economics"> Geography and Economics</option>
                            <option value="  Computer Science"> Computer Science</option>
                            <option disabled></option>
                            <option disabled>>Commerce :---------</option>
                            <option value="Accountancy">Accountancy</option>
                            <option value=" Business Mathematics and statistics">Business Mathematics and statistics
                            </option>
                            <option value="Business Studies">Business Studies</option>
                            <option value="Economics">Economics</option>
                            <option value="Finance">Finance</option>
                        </select>

                        <select name="subj4">Subjec4
                            <option value="">Select</option>
                            <option value="Economics">Economics</option>
                            <option value="Political Science">Political Science</option>
                            <option value="Education">Education</option>
                            <option value="Logic & Philosophy">Logic & Philosophy</option>
                            <option value="Sociology">Sociology</option>
                            <option value="Geography">Geography</option>
                            <option value="Advance Assamese / Advance Hindi">Advance Assamese / Advance Hindi</option>
                            <option value="Mathematics">Mathematics</option>
                            <option value="Sanskrit">Sanskrit</option>
                            <option value="Swadesh  Adhyayan">Swadesh Adhyayan</option>
                            <option value="Bihu">Bihu</option>
                            <option value="Computer science">Computer science</option>
                            <option disabled></option>
                            <option disabled>>Science :---------</option>
                            <option value="Physics">Physics</option>
                            <option value="Chemistry">Chemistry</option>
                            <option value="Mathematics">Mathematics</option>
                            <option value="Biology ">Biology</option>
                            <option value=" Statistics"> Statistics</option>
                            <option value=" Geography and Economics"> Geography and Economics</option>
                            <option value="  Computer Science"> Computer Science</option>
                            <option disabled></option>
                            <option disabled>>Commerce :---------</option>
                            <option value="Accountancy">Accountancy</option>
                            <option value=" Business Mathematics and statistics">Business Mathematics and statistics
                            </option>
                            <option value="Business Studies">Business Studies</option>
                            <option value="Economics">Economics</option>
                            <option value="Finance">Finance</option>
                        </select>
                    </div>
                </div>

                <br><br>
            </div>


            <br><br>
            <!-- ========== uploa document  -->
            <div style="background-color: #fff; padding: 15px; margin: auto;border-radius: 13px;">
                <h2><u>UPLOAD YOUR DOCUMENT :</u></h2>
                <div style="width: 49%; display: inline-block;">

                    <h4>UPLOAD PHOTO</h4>
                    <input class="file-upload" type="file" name="photo1">

                    <br>
                    <h4> UPLOAD BIRTH CERTIFICATE:</h4>
                    <input class="file-upload" type="file" name="photo2">
                </div>
                <div style="width: 49%; display: inline-block;">
                    <h4> UPLOAD MARKSHEET</h4>
                    <input class="file-upload" type="file" name="photo3">

                    <h4> UPLOAD SCHOOL CERTIFICATE:</h4>
                    <input class="file-upload" type="file" name="photo4">
                </div>
                <br><br>
                <hr>

                <!-- =================================rezor pay============== -->
                <div style="background-color: rgb(238, 238, 238);padding: 10px; border-radius: 13px;">
                    <h3 style="color: rgb(255, 81, 0);">Terms & Condition</h3>
                    <p>
                        Read carefully before filling out the admission form<br> 1.Fill in the details of the form
                        correctly.
                        <br> 2.One must submit proper photos in the required field. <br> 3.Your photo and xerox copies
                        documents
                        are to be submitted offline
                        along with the bill.(Before attending college) <br> 4.You can download your prospectus and bill
                        <br>
                        after you make the payment online. <br> 5.If the payment cancels, try again after sometime or
                        submit a
                        query at our website. <br> 6.Details
                        regarding payment of admission fees are sent on your email provided. <br> 7.Any other problem
                        persists
                        visit FRESIFY or whatsapp us on +91 8822722516<br> 8.The form will not be accepted until the
                        payment is
                        made.The form can be re-submitted
                        if the payment cancels.
                    <h3 style="color: rgb(226, 66, 66);">
                        <p style="color: rgb(8, 95, 19); display: inline-block;">Notice : </p> The form will not be
                        accepted
                        until the payment is made.The form
                        can be re-submitted if the payment cancels.
                    </h3>
                    </p>
                </div>

                <!-- ================================rezpay================== -->
                <br>
                <br>
                <div id="sub" class="subs" style="margin:auto; width: 90%; ">
                    <input type="reset" name="reset">
                    <br><br>
                    <button type="submit" id="payment-button" value="" name="submit"><img src="/static/assets/logos/secure.svg">  Pay & Submit Form </button>
                    <br><br><br><br><br>
                </div>
            </div>

        </Form>
    </div>
    
    <footer>
        <br><br>
        <%- include('../partials/footer.ejs') %>
    </footer>
<script src="/static/js/script.js"></script>
</body>

</html>