<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="import@node.js.img/css.png" type="image/x-icon">
    <script src="/js/import@node-js2.js"></script>
    <title>About Principal</title>
</head>
<style>
    #text img {
        width: 250px;
        margin: 30px;
        border-radius: 13px;
        display: inline-block;
    }
    
    @media screen and (max-width:500px) {
        #text img {
            width: 150px;
            margin: 10px;
            border-radius: 13px;
            display: inline-block;
        }
    }
</style>
<script src="/js/import@node-js.js"></script>

<body>
    <header>
        <div w3-include-html="/header.html">
        </div>
        <script>
            includeHTML();
        </script>

    </header>

    <!-- =========here all text ================= -->
    <div id="text">
        <h1>PRINCIPAL'S MESSAGE </h1>
        <img src="/import@node.js.img/bonashree.jpg" alt="">

        <h3>Banashree Agasty</h3>
        <p> I am extremely delighted to welcome you Kalong Kapili Vidyapith , the college with an excellent academic reputation since its inception .The college established in the year 2004, is symbolically named as Kalong Kapili Vidyapith , after the two
            important rivers Kalong and Kapili flowing through the heart of undivided Nagaon District .Our aim is to provide you with all the necessary facilities, infrastructures and conducive environment to nurture your talent for a better career and
            to help you to build up your character and personality to become a responsible citizen of the country. Our highly talented, experienced and committed faculty members are actively involved in their pursuit of creating and disseminating knowledge
            through quality teaching, research and training. Our prime purpose is to provide an education which explores and strengthens the potential which is innate in every individual but awaiting expression.<br> I feel very privileged, proud and honoured
            to serve as the Principal of Kalong Kapili Vidyapith . I wish you all a wonderful academic year ahead.<br>
        </p>
        <h3>Principal </h3>
        <h3>Kalong Kapili Vidyapith</h3>
    </div>
    </div>

    <!-- =========here all text ================= -->

    <footer>
        <div w3-include-html="/footer.html">
        </div>
        <script>
            includeHTML();
        </script>


    </footer>

</body>

</html>