<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/styleforlast-glan.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <title>About Principal</title>
</head>
<style>
    #text img {
        width: 250px;
        margin: 30px;
        border-radius: 13px;
        display: inline-block;
    }
    
    @media screen and (max-width:500px) {
        #text img {
            width: 150px;
            margin: 10px;
            border-radius: 13px;
            display: inline-block;
        }
    }
</style>
<script src="/js/import@node-js.js"></script>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
        <br><br>

    </header>

    <!-- =========here all text ================= -->
    <div id="text">
        <h1>SUPERVISER MESSAGE </h1>
        <img src="/static/assets/img/Monalisa-Saikia-Political-Science.jpg" alt="">

        <h3>Monalisa Saikia</h3>
        <p>Dear Students, Parents, Well-Wishers and Visitors,<br> It is with great pleasure that I welcome you to our college website. This website has been developed to enable everyone to become familiar with KKV, its policies and other procedures. KKV
            has earned its name and fame by imparting excellent education for more than a decade. While academic excellence is our major thrust, we also prepare the students for life, motivate and empower them to be lifelong learners, critical thinkers
            and productive members of an ever-changing global society. I wish to commend the support of the college management as well as the diligence and dedication of the teachers and staff who unflinchingly and tirelessly work to fulfill our mission.I
            would like to take the opportunity to express my gratitude to the parents for their consistent support and faith in us. <br>
        </p>
        <h3>With best wishes </h3>
        <h3>Superviser </h3>
        <h3>Kalong Kapili Vidyapith</h3>
    </div>
    </div>


    <!-- =========here all text ================= -->

    <footer>
       
            <br><br>
            <%- include('../partials/footer.ejs') %>
    </footer>

</body>

</html>