<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/styleforlast-glan.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <title>About Principal</title>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
        <br><br>
    </header>
    <!-- =========here all text ================= -->
    <div id="text">
        <h1>FACILITIES</h1>

        <h3>LIBRARY FACILITY:-</h3>
        <p> Students will be issued Library Cards after their admission against which they will be able to borrow two books at a time from the college library for a period of two weeks. They must return the books to the Library before the announcement of
            the result of the Screening Test examination, falling which their results will be kept withheld. </p>
        <h3>HOSTEL FACILITY:-</h3>
        <p>Hostel facility will be provided for female students coming from out side the town area on payment of fees for food & lodging. </p>
        <h3>SCHOLARSHIP:-</h3>
        <p> Students may enjoy State Merit Scholarship, ST/SC/OBC & Minority Scholarships etc. according to their eligibility. </p>

        <h3>STUDENTS' AID FUND:-</h3>
        <p> The college maintains a student Aid Fund for poor but meritorious Students. A student desiring to take help from this fund in cash or books, shall have to apply to the principal with supporting documents for consideration. </p>
        <h3>AWARDS:-</h3>
        <p> The college authority has declared Awards for the brilliant students doing exceptionally good result in the Unit Test and Screening Test. Further, in order to inspire the students, it has declared a coveted prize for the brilliant student/students
            who would secure the highest marks in each Final Examination from the college. </p>
        <h3>SPECIAL ATTRACTIONS OF THE COLLEGE</h3>
        <p><em>SEMINARS, DEBATE & SYMPOSIUMS, QUIZ COMPETITIONS, CULTURAL FUNCTIONS, GAMES AND SPORTS, ETC. </em>
        </p>
    </div>









    <!-- =========here all text ================= -->

    <footer>
        <br><br>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>