<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="import@node.js.img/css.png" type="image/x-icon">
    <script src="/js/import@node-js2.js"></script>


    <title>Faculties</title>
</head>
<script src="/js/import@node-js.js"></script>

<body>
    <header>
       
    </header>
    <!-- =========here all text ================= -->
    <div id="text">
        <h1>Faculties</h1>

        <h3>HEAD STAFF</h3>
        <p>
            Principal - Sri Manabendra Nag Vice Principal - Sri Shekhar Jyoti Saikia Rector -Sri Bidhan Baruah Adviser - Sri Birendra Nath Saikia, Sri Bola Nath Das Academic Officer - Sri Ujjal Kumar Sarma
        </p>

        <h3>TEACHING STAFF</h3>
        <p>

            Jolly bora, Banashree Agasty, Shekhar Jyoti Saikia,Mamu Rajkhowa, Shagufta Sultana Khan, Binita Kakoti, Madhabi baruah, Ujjal Kumar Sharma, Priti RAni Borah, Krishna Rani Borah,Minakshi Rajkhowa ,Queen Borah, Payel Ganguly, Banashree Agasty, Shekhar jyoti
            Sharma, Queen Borah, Manabendra Nag,Daradi Borah, Juthikha Rani Sarma, Sanchita Das, Birendra Nath Sakia, Monalisha Saikia, Dipti Moni Mahanta, Hirumoni Sarma, Priti Rani Borah,Ujjal Kumar Sarma, Krishna Moni Borah, Madhabi Baruah,Baishali
            Borpatra, Nabajyoti Saikia, Namami sarma, Jyotismita Bora, Loni Boruah ,Habiba Mubarak, Debika Das, Sewali Sarmah, Munmi Baruah, Niharika Borah, Jusmita Borah, Ritumoni Gayan, Bhaskar Saikia, Priyanka Das, Nibedita Borah, Namrata Sarma, Bhaskar
            Saikia, Namrata Saikia, Naba jyoti Saikia,Rukhsar Shehnaz Fardeen, Ashim Kalita, Srutima Baishya,Uttam kumar Das,Rupshree Kalita, Nibha Bora,Ashim Kalita
        </p>

        <h3> NON – TEACHING STAFF</h3>
        <p>
            Dabu Bordoloi (Accountant) Dipankar Bhattacharya ( computer Asstt.) Parishmita Borah (Office Assistant) Jhorna Bhuyan (Office Assistant) Dharmeswar Sarmah( Asstt. Supervisor) Parag Baruah (Asstt. Supervisor) Kunja Bora Office bearer) Binod Borah (Office
            Bearer) Leela Sheikh (IV Grade) Krishna Basfor (IV Grade) Timial Basfor (IV Grade)

        </p>




    </div>


    <!-- =========here all text ================= -->

    <footer>
     
    </footer>
</body>

</html>