<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/styleforlast-glan.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <title>About Principal</title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
        <br><br>

    </header>
    <!-- =========here all text ================= -->

    <!--  -->
    <script src="/js/import@node-js.js"></script>
    <style>
        @media screen and (min-width:700px) {
            .main-div {
                margin: auto;
                box-shadow: 1px 1px 15px rgb(150, 149, 149);
                display: inline-block;
                width: 400px;
            }
            .mainzero {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
            }
        }
        
        .fee {
            width: 94%;
            height: 50px;
            text-align: center;
            padding: 10px;
            border: 2px solid rgb(112, 109, 109);
            border-top: none;
            font-size: 19px;
            color: brown;
        }
        
        .type {
            display: inline-block;
            width: 50%;
            padding: 10px;
            border: 2px solid rgb(112, 109, 109);
            margin: 0px;
            border-bottom: none;
            border-top: none;
        }
        
        .amount {
            display: inline-block;
            width: 33%;
            padding: 10px;
            margin: 0px;
          
        }
        
        .main-div {
            margin: auto;
            box-shadow: 1px 1px 15px rgb(150, 149, 149);
            margin-top: 40px;
            border: 2px solid black;
        }
    </style>
    <h2 style="text-align: center;">Fees-Structure for Class I to X </h2>
    <div class="mainzero">
        <div class="main-div">
            <div class="fee">
                <h3 class="stream">Class- I</h3>
            </div>
            <div class="type">
                <h3>Admission Fee</h3>
                <h3>Monthly Fee</h3>
            </div>
            <div class="amount">
                <h3> <% utils.info ; %>
                     
                </h3>
                <h3></h3>
            </div>

        </div>
        <div class="main-div">
            <div class="fee">
                <h3 class="stream">Class- II</h3>
            </div>
            <div class="type">
                <h3>Admission Fee</h3>
                <h3>Monthly Fee</h3>
            </div>
            <div class="amount">
                <h3>-------
                </h3>
                <h3>-------</h3>
            </div>

        </div>

        <div class="main-div">
            <div class="fee">
                <h3 class="stream">Class- III</h3>
            </div>
            <div class="type">
                <h3>Admisson Fee</h3>
                <h3>Monthly Fee</h3>
            </div>
            <div class="amount">
                <h3>------</h3>
                <h3>-------</h3>
            </div>

        </div>

    </div>
    <div class="mainzero">
        <div class="main-div">
            <div class="fee">
                <h3 class="stream">Class- IV</h3>
            </div>
            <div class="type">
                <h3>Admission Fee</h3>
                <h3>Monthly Fee</h3>
            </div>
            <div class="amount">
                <h3>------</h3>
                <h3>-------</h3>
            </div>

        </div>
        <div class="main-div">
            <div class="fee">
                <h3 class="stream">Class- V</h3>
            </div>
            <div class="type">
                <h3>Admission Fee</h3>
                <h3>Monthly Fee</h3>
            </div>
            <div class="amount">
                <h3>-------
                </h3>
                <h3>-------</h3>
            </div>

        </div>

        <div class="main-div">
            <div class="fee">
                <h3 class="stream">Class- VI</h3>
            </div>
            <div class="type">
                <h3>Admisson Fee</h3>
                <h3>Monthly Fee</h3>
            </div>
            <div class="amount">
                <h3>------</h3>
                <h3>-------</h3>
            </div>

        </div>

    </div>
    <div class="mainzero">
        <div class="main-div">
            <div class="fee">
                <h3 class="stream">Class- VII</h3>
            </div>
            <div class="type">
                <h3>Admission Fee</h3>
                <h3>Monthly Fee</h3>
            </div>
            <div class="amount">
                <h3>------</h3>
                <h3>-------</h3>
            </div>

        </div>
        <div class="main-div">
            <div class="fee">
                <h3 class="stream">Class- VIII</h3>
            </div>
            <div class="type">
                <h3>Admission Fee</h3>
                <h3>Monthly Fee</h3>
            </div>
            <div class="amount">
                <h3>-------
                </h3>
                <h3>-------</h3>
            </div>

        </div>

        <div class="main-div">
            <div class="fee">
                <h3 class="stream">IX</h3>
            </div>
            <div class="type">
                <h3>Admisson Fee</h3>
                <h3>Monthly Fee</h3>
            </div>
            <div class="amount">
                <h3>------</h3>
                <h3>-------</h3>
            </div>

        </div>

    </div>
    <div class="main-div">
        <div class="fee">
            <h3 class="stream">X</h3>
        </div>
        <div class="type">
            <h3>Admisson Fee</h3>
            <h3>Monthly Fee</h3>
        </div>
        <div class="amount">
            <h3>------</h3>
            <h3>-------</h3>
        </div>

    </div>

    </div>
    <h4>
        <center> N.B: If monthly fee is not paid for three consecutive months, the name of the defaulter student will be struck off from the Attendence Register. Fees once received are not refundable.</center>
    </h4>




    <!-- =========here all text ================= -->

    <footer>
        <br><br>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>