<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/styleforlast-glan.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <title>About Principal</title>
</head>
<style>
    #text img {
        width: 250px;
        margin: 30px;
        border-radius: 13px;
        display: inline-block;
    }
    
    @media screen and (max-width:500px) {
        #text img {
            width: 150px;
            margin: 10px;
            border-radius: 13px;
            display: inline-block;
        }
    }
</style>
<script src="/js/import@node-js.js"></script>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
        <br><br>

    </header>

    <!-- =========here all text ================= -->
    <div id="text">
        <h1>From the Rector’s Desk </h1>
        <img src="/import@node.js.img/rector.jpg" alt="">
        <h3>Sri Bidhan Boruah</h3>
        <p> Dear Parents, Teachers and Students,<br> I extend to you all a very warm welcome to our college Website. We have tried to create an online resource that provides all relevant information about Kalong Kapili Vidyapith and hope that as you pursue
            through the contents of this website, you will get a sense of the rich flavour of life at our college. At KKV all aspects of our educational processes are carefully designed to cultivate and stimulate the intellectual, social and personal
            development of the students. We are passionate about creating a ‘learning’ institution that is dynamic and constantly seeking excellence to meet the needs of the present as well as the future. The reputation, the college has acquired and established
            over these years is due to the dedication and selfless commitment of the teachers, supporting staff and students. I appreciate the encouragement, trust and affection of the parents of our students, and well-wishers and friends for being a
            source of infinite strength to us.
            <br> Thanking you all<br><br>
            <strong>Bidhan Boruah</strong><br>
            <strong>Rector</strong>
        </p>
    </div>


    <!-- =========here all text ================= -->

    <footer>
        <br><br>
        <%- include('../partials/footer.ejs') %>
    </footer>

</body>

</html>