<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/import@node-js2.js"></script>
    <script src="/js/import@node-js.js"></script>

    <title>About Us</title>
</head>

<body>
    <header>
        <div w3-include-html="/header.html">
        </div>
        <script>
            includeHTML();
        </script>
    </header>
    <!-- =========here all text ================= -->
    <div id="text">
        <h1>FEATURES</h1>
        <h2>RULES AND REGULATIONS</h2>

        <p> Great emphasis has been laid by the college authority on discipline and character building. Students are expected to maintain a high standard of discipline and punctuality .They must follow the rules and regulations of the college strictly. Violation
            of college rules , unsatisfactory progress , irregular attendance, damage of college property , defacing or tampering of notice , showing discourtesy to the teachers and staff members in any form, ragging of students and adoption of unfair
            means in the examination halls may lead to suspension , forced transfer and even expulsion of the students from this college.<br>
            <br> A student must obtain permission from the principal to leave the college campus during the college hours due to some unavoidable reasons.<br><br> No transfer certificate will be issued to the students before clearing their tuition fees
            for the session.
            <br>
        </p>
        <h3>IDENTITY CARD:-</h3>
        <p> Identity Cards will be issued to the Students at the time of admission. The card will bear informations about the holder including his/her photograph duly endorsed by the principal. It must be surrendered to the principal at the end of the academic
            year for renewal. If the Identity Cards are lost or damaged, the students will have to apply for the new ones which will be provided with after the payment of Rs 20.00 (Rupees Twenty) only. </p>

        <h3>COLLEGE UNIFORM</h3>
        <p><strong>Boys</strong>:- White Shirts, Black shoes and black coloured Trousers with Orange coloured Tie. <br>
            <strong>Girls</strong>:- White coloured Salwar Kameez with Orange coloured Choorni. <br> During winter, Black coloured Sweater for both boys and girls. <br>No student will be allowed to enter the college campus without college uniform. </p>


        <h3>ATTENDANCE:-</h3>
        <p> Students must attend their classes regularly and punctually. A student will not be allowed to sit for the final examination, if he/she fails to attend atleast 85% lectures in each subject in an academic year. </p>

        <h3>EXAMINATION:-</h3>
        <p>Attendance in unit tests and screening test conducted by the college is compulsory. No application seeking exemption from appearing at the internal examinations will be entertained. Unsuccessful students in the screening Test will not be eligible
            to sit for H.S.1st year and H.S.2nd year final examination. A student will have to pay a fine of Rs 150.00 (Rupees One Hundred Fifty) only for each subject, if he/she abstains from appearing at Unit Tests & Screening Test. </p>
    </div>









    <!-- =========here all text ================= -->

    <footer>
        <div w3-include-html="/footer.html">
        </div>
        <script>
            includeHTML();
        </script>
    </footer>
</body>

</html>